node_modules
.npm-cache
dist
.DS_Store
.env
.env.local
*.log
*.tsbuildinfo
apps/mobile/capacitor.config.js
apps/mobile/capacitor.config.d.ts
apps/mobile/tailwind.config.js
apps/mobile/tailwind.config.d.ts
apps/mobile/vite.config.js
apps/mobile/vite.config.d.ts
apps/server/uploads/
.reasonix/
